.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
cddl/ear-base-autogen.cddl
cddl/ear-ext-teep-autogen.cddl
cddl/ear-ext-veraison-autogen.cddl
cddl/examples/ear-cbor-1.cbor
cddl/examples/ear-json-1.cbor
cddl/examples/ear-json-2.cbor
cddl/examples/ext-teep-cbor-1.cbor
cddl/examples/ext-teep-json-1.cbor
cddl/examples/ext-veraison-cbor-1.cbor
cddl/examples/ext-veraison-json-1.cbor
cddl/examples/ext-veraison-json-2.cbor
draft-ietf-rats-ear.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
